@function map-Value($key, $value) {
    @return map-get($key, $value)
};

@mixin margin-block-zero {
    margin-block-start: 0;
    margin-block-end: 0;
}

@mixin dispaly-flex{
    display:flex;
    justify-content:center;
    align-items: center;
};

@mixin display-grid {
    display: grid;
    justify-content: center;
    align-items: center;
}


@mixin noBorder-button {
    background: transparent;
    outline: none;
    border: none;
}