$font-family: "Baloo Bhaijaan 2";
$font-weights: (
    "regular": 400,
    "medium": 500,
    "semi-bold": 600,
    "bold": 700
);

$font-color: (   
    "white": white, 
    "dark-gray": #423F3E,
    "shine-light-blue": #04009A,
    "light-gray": #787A91,
    "light-skyBlue": #97BFB4
);

$break-points: (
    "tab-breakpoint": 450px,
    "desktop-breakpoint": 850px,
    "wide-breakpoint": 1180px
);

@function map-Value($key, $value) {
    @return map-get($key, $value)
};
