$font-family-main: "Baloo Bhaijaan 2";
$font-family-secondry: 'Poppins', sans-serif;

$font-weights: (
    "thin": "200",
    "light": "300",
    "regular": 400,
    "medium": 500,
    "semi-bold": 600,
    "bold": 700
);

$colors: (   
    "white": white, 
    "dark-gray": #423F3E,
    "shine-light-blue": #04009A,
    "light-gray": #787A91,
    "light-skyBlue": #97BFB4,
    "medium-gray": #1F1D36,
    "shady-yellow": #FFC947
);

$break-points: (
    "tab-breakpoint": 450px,
    "desktop-breakpoint": 850px,
    "wide-breakpoint": 1180px
);


