@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700&display=swap');
@import "./home";
@import "./nav";
@import "./variables";


body{
    margin: 0;
}

.App {
    font-family: $font-family;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

button {
    font-family: $font-family;
}

img {
    width: 100%;
}