@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import "./home";
@import "./nav";
@import "./variables";
@import "./template";


body{
    margin: 0;
}

.App {
    font-family: $font-family-main;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

button {
    font-family: $font-family-main;
}

img {
    width: 100%;
    margin: 0;
}