@import "./variables";


@mixin loader-divs-initial {
    border: 3.5px solid transparent;
    border-top-color: map-Value($font-color, "shady-yellow");
    border-right-color: map-Value($font-color, "shady-yellow");
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
}


.loader {
    position: relative;

    & .outer {
        @include loader-divs-initial;
        width: 4.5em;
        height: 4.5em;
        margin-left: -2.75em;
        margin-top: -2.75em;
        animation: spin 2s linear infinite;
    }  

    & .middle {
        @include loader-divs-initial;
        width: 3.1em;
        height: 3.1em;
        margin-left: -2.05em;
        margin-top: -2.05em;
        animation: spin 1.75s linear reverse infinite;
    }

    & .inner {
        @include loader-divs-initial;
        width: 1.8em;
        height: 1.8em;
        margin-left: -1.4em;
        margin-top: -1.4em;
        animation: spin 1.5s linear infinite;
    }

    @keyframes spin {
        to {
          transform: rotate(360deg);
        }
    }
}