@import "./variables";


@mixin dispaly-flex{
    display:flex;
    justify-content:center;
    align-items: center;
}



.navbar {
    margin: 0.5rem 0;
    box-shadow: 3px 3px 4px rgb(161, 148, 148);
    
    .link-div {
        @include dispaly-flex;
        width: 60%;
        gap: 10px;
        padding: 1rem;

        & .logo-div {
            width: 100%;
    
            & .logo-image {
                @extend .logo-div;
                max-width: 196px;
                min-width: 150px;
            }
        }
        
        & .home-div {
            @include dispaly-flex;
            margin-bottom: 10px;

            & .btn-home {
                background: transparent;
                outline: none;
                border: none;
                font-weight: map-get($font-weights, "semi-bold" );
                font-size: 1.3rem;
                color: map-get($font-color, "navLink-color");

                &:hover {
                    background-color: map-get($font-color, "navLink-hover-color");
                    color: map-get($font-color, "white");;
                    border-radius: 20%;
                    padding: 6px 10px;
                }
            }
        }
        
    }
}
