@import "./variables";
@import './functions&mixin';

.navbar {
    margin: 0.5rem 0;
    box-shadow: 3px 3px 4px rgb(161, 148, 148);
    
    .link-div {
        @include dispaly-flex;
        width: 60%;
        max-width: 280px;
        gap: 10px;
        padding: 1rem;

        & .logo-div {
            width: 100%;
    
            & .logo-image {
                @extend .logo-div;
                max-width: 196px;
                min-width: 150px;
            }
        }
        
        & .home-div {
            @include dispaly-flex;
            margin-bottom: 10px;

            & .btn-home {
                @include noBordr-button;
                font-weight: map-Value($font-weights, "medium");
                font-size: 1.3rem;
                color: map-Value($font-color,"dark-gray");

                &:hover {
                    background-color: map-Value($font-color, "shine-light-blue");
                    color: map-Value($font-color, "white");;
                    border-radius: 20%;
                    padding: 6px 10px;
                }
            }
        }
        
    }
}
