@import "./variables";
@import "./functions&mixin";
@import "./timer.scss";

.loader-div {
    margin: auto;
    @include dispaly-flex; 
    color: map-Value($colors, "shady-yellow");
    flex-direction: column;
    margin-top: 15rem;
    
    & h2 {
        margin: 0 auto;
        @include margin-block-zero;
        font-size: 2.5rem;
    }
}

.main {
    @include dispaly-flex;
    padding: 4rem;
    font-family: $font-family-secondry;

    & .content-div {
        @include display-grid;
        text-align: center;
        max-width: 450px;
        position: relative;
        background-color: map-Value($colors, "white");
        padding: 2rem 2rem;
        color: map-Value($colors, "dark-gray");
        border-radius: 20px;
        outline: none;
        box-shadow: 0 0 6px 5px map-Value($colors, "light-gray");

        & button {
            @include noBorder-button;
            font-family: $font-family-secondry;
            font-size: 17px;
            font-weight: map-Value($font-weights, "medium");
            color: map-Value($colors, "white");
            border-radius: 4px;
        }

        & .question-div {
            margin: 2.5rem auto;

            & .answers-div {
                margin-top: 3rem;
                @include dispaly-flex;
                flex-direction: column;
                gap: 1.5rem;

                & .answer {
                    width: 100%;
                    padding: 0.8rem 1.5rem;

                    &:hover {
                        color: map-Value($colors, "light-skyBlue");
                    }
                }
            }

        }

        & .action-btn-div {
            display: flex;
            justify-content: space-between;

            & button {
                padding: 0.5rem 1.2rem;
            }

            & .btn-reset {
                background-color: map-Value($colors, "light-skyBlue");

                &:hover {
                    background-color: transparent;
                    color: map-Value($colors, "neon-red");
                    box-shadow: 0 0 10px 4px map-Value($colors, "neon-red");
                }
            }

            & .btn-submit {
                background-color: map-Value($colors, "shady-yellow");

                &:hover {
                    background-color: transparent;
                    color: map-Value($colors, "neon-green");
                    box-shadow: 0 0 10px 4px map-Value($colors, "neon-green");
                }
            }
        }

    }
}